env/
.env/
.env3/
acc.txt
2017-EC-Small-Cars-Mazda-3-hatchback.jpg
ferrari-gtc4lusso.jpg
hyundai-verna.jpg
mercedes-amg-glc-43-coupe.jpg

#Off-the-shelf ascii generator
img2txt
img2txt/

#Data
assets/
__pycache__/
weights/
viz/
snapshots/

#Compiled python and existing models
*.pyc
*.h5

#Data
*.jpg
*.png

#Test files
tst.py

#Logs
logs/
*.log
experiments/

#Settings
constants.py

