env/
.env/
.env3/
acc.txt
2017-EC-Small-Cars-Mazda-3-hatchback.jpg
ferrari-gtc4lusso.jpg
hyundai-verna.jpg
mercedes-amg-glc-43-coupe.jpg
weights/

#Off-the-shelf ascii generator
img2txt
img2txt/

#Data
assets/
__pycache__/
weights/
viz/

#Compiled python and existing models
*.pyc
*.h5

#Data
*.jpg
*.png
*.mov
*.mp4

#Test files
tst.py

#Logs
experiments/

#Settings
constants.py

._*
.DS_Store

notes/

